@using CollabPad.Persistence;
@using System.Reflection;

@{
    ViewData["Title"] = "DataCollection";
}
@{
    var connectionString = "Server=.\\SQLEXPRESS;Database=CollabPad;User Id=CollabPad;Password=12345;Trust Server Certificate=True;";
    var migrationAssembly = Assembly.GetExecutingAssembly().FullName;
    var context = new ApplicationDbContext(connectionString, migrationAssembly);

    var proposals = context.Proposals.ToList();
    
}

<section>
    <div class="my-5 py-5 mx-lg-5">
        <div class="row">
            <div class="col-md-7 col-12 col-sm-12 mx-auto border-start" style="max-width: 50rem;">
                <h2 class="ms-2 position-relative mb-5">
                    Researchers Questionnaire
                    <span class="position-absolute top-0 end-0">
                        <a href="#" class="btn btn-danger">Develop</a>
                    </span>
                </h2>

                <div class="border-bottom p-3" style="max-height: 14rem;">
                    <div class="card-header">
                        <h6 class="position-relative">
                            <a href="#" class="nav-link link-success">Business</a>
                            <span class="position-absolute top-0 end-0 fw-normal">June 6, 2023</span>
                        </h6>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title line-clamp-2 mb-2"><a href="#" class="nav-link link-primary">An evaluation of transformational leadership in today’s non-profit organizations.</a></h5>
                        <p class="card-text lh-2 line-clamp-3 text-justify">
                            Leadership is a vital part of every organisation;
                            it is often the cornerstone of organisational operations and the main driver of change.
                            Determining which model of leadership is most helpful for developing leaders and achieving an organisation’s desired results is a complex endeavour.
                            For this reason, decades of research have focused on defining and understanding effective leadership, resulting in a multitude of leadership models.
                            Yet, as these models become increasingly nuanced with recent theoretical developments, navigating and applying them in practice can be extremely difficult.
                        </p>
                    </div>
                    <div class="mt-2 d-flex">
                        <h6 class="text-secondary">Total Response: 11</h6>
                        <h6 class="text-secondary ms-auto">Posted by:</h6>
                        <h6 class="text-secondary ms-2"><a href="#" class="nav-link link-dark">Mansurul Hakim</a></h6>

                    </div>
                </div>
                @{
                    foreach (var prop in proposals)
                    {
                        if(prop.Status.ToString() == "Active")
                        {
                            <div class="border-bottom p-3" style="max-height: 14rem;">
                                <div class="card-header">
                                    <h6 class="position-relative">
                                        <a href="#" class="nav-link link-success">@prop.Area</a>
                                        <span class="position-absolute top-0 end-0 fw-normal">@prop.Creation</span>
                                    </h6>
                                </div>
                                <div class="card-body text-justify">
                                    <h5 class="card-title line-clamp-2 mb-2">
                                        <a href="/Home/Post/@prop.Id" class="nav-link link-primary">@prop.Title</a>
                                    </h5>
                                    <p class="card-text lh-2 line-clamp-3 text-justify">
                                        @prop.Description
                                    </p>
                                </div>
                                <div class="mt-2 d-flex">
                                    <h6 class="text-secondary">Total Response: 0</h6>
                                    <h6 class="text-secondary ms-auto">Posted by:</h6>
                                    <h6 class="text-secondary ms-2"><a href="#" class="nav-link link-dark">Mansurul Hakim</a></h6>

                                </div>
                            </div>
                        }
                        
                    }
                }


            </div>
            <div class="col-md-4 mt-4 mt-lg-0 ms-2">
                <h1 class="fs-3">Services</h1>
                <div class="my-3">
                    <ul class="list-unstyled">
                        <li class="nav-item my-2"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="DataCollection"><i class="fa-solid fa-database fa-sm"></i> Data Collection</a></li>
                        <li class="nav-item my-2"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="ProposalSharing"><i class="fa-solid fa-handshake-angle fa-sm"></i> Proposal Sharing</a></li>
                        <li class="nav-item my-2"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="DatasetSubmission"><i class="fa-solid fa-table fa-sm"></i> Dataset Submission</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>