@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
}
<div class="container py-5">
    <div class="mx-auto" data-aos="zoom-out">
        <h1 class="text-center fw-bold my-gradient">A Collaborative Platform For</h1>
        <h1 class="text-center fw-bold pox">Data Collection, Proposal Sharing, and Opportunity Networking</h1>
    </div>

    <div class="text-center my-4" data-aos="fade-up">
        <a class="btn btn-danger rounded-pill fw-bold btn-custom-service shadow my-3 mx-1" href="#">
            <i class="fa-solid fa-database fa-beat fa-sm"></i> Data Collection
        </a>
        <a class="btn btn-danger rounded-pill fw-bold btn-custom-service shadow my-3 mx-1" href="#">
            <i class="fa-solid fa-handshake-angle fa-beat fa-sm"></i> Proposal Sharing
        </a>
        <a class="btn btn-danger rounded-pill fw-bold btn-custom-service shadow my-3 mx-1" href="#">
            <i class="fa-solid fa-table fa-beat fa-sm"></i> Dataset Submission
        </a>
    </div>

    <div class="container mt-1 mb-3" data-aos="zoom-in">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-11">
                <div class="row justify-content-center">
                    <div class="col-md-6 mt-5 pt-5">
                        <h1 class="my-5 fw-bold data-color mt-1 mt-sm-2 mt-lg-4 pt-lg-3 mt-md-2">Easy Data Collection Process for Your Research</h1>
                        <p class="text-dark font-monospace lh-lg">This platform provide a robust set of tools and features to streamline the data collection process. By providing customizable data collection forms, multiple data entry channels, and efficient data analysis capabilities, the platform helps users efficiently collect and manage data and ensure accuracy and information to facilitate informed decision-making.</p>
                        <a class="btn btn-warning rounded-pill fw-bold btn-custom-service my-3 mx-1" href="#">
                            <i class="fa-solid fa-database fa-beat fa-sm"></i> Data Collection
                        </a>
                    </div>
                    <div class="col-md-6 align-items-center">

                        <img src="~/im/3515462.jpg" class="img-fluid" alt="Sample image">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-11">
                <div class="row justify-content-center">
                    <div class="col-md-6 align-items-center order-1 order-md-1 order-last order-md-first order-lg-first order-sm-last" data-aos="fade-right">
                        <img src="~/im/At the office-amico.png" class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-6 mt-1 mt-sm-2 mt-lg-4 pt-lg-3 mt-md-2" data-aos="fade-left">
                        <h1 class="my-5 fw-bold proposal-color mt-1 mt-sm-3 mt-lg-5 pt-lg-4 mt-md-3">Collaborative Development and Proposal Sharing</h1>
                        <p class="text-dark font-monospace lh-lg">The platform facilitates seamless collaboration among researchers, enabling sharing of proposals, exchange of feedback and real-time collaboration. This promotes innovation and improves the quality of research results.</p>
                        <a class="btn btn-warning rounded-pill fw-bold btn-custom-service my-3 mx-1" href="#">
                            <i class="fa-solid fa-handshake-angle fa-beat fa-sm"></i> Proposal Sharing
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-11">
                <div class="row justify-content-center">
                    <div class="col-md-6 mt-1 mt-sm-2 mt-lg-4 pt-lg-3 mt-md-2" data-aos="zoom-in">
                        <h1 class="my-5 fw-bold network-color mt-1 mt-sm-3 mt-lg-5 pt-lg-4 mt-md-3">Networking and Opportunity Discovery</h1>
                        <p class="text-dark font-monospace lh-lg">The platform aims to connect users to relevant opportunities in their respective fields. The platform uses as one gives another opportunities such as funding programs, partnership prospects and research collaborations.</p>
                        <a class="btn btn-warning rounded-pill fw-bold btn-custom-service my-3 mx-1" href="#">
                            <i class="fa-sharp fa-solid fa-link fa-beat"></i> Opportunities
                        </a>
                    </div>
                    <div class="col-md-6 align-items-center" data-aos="zoom-out">

                        <img src="~/im/Online world-amico.png" class="img-fluid" alt="Sample image">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-11">
                <div class="row justify-content-center">
                    <div class="col-md-6 align-items-center order-1 order-md-1 order-last order-md-first order-lg-first order-sm-last" data-aos="zoom-out">
                        <img src="~/im/4650046.jpg" class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-6 mt-1 mt-sm-2 mt-lg-4 pt-lg-3 mt-md-2" data-aos="fade-up">
                        <h1 class="my-5 fw-bold dataset-color">Submit Your Processed Data for Future Use</h1>
                        <p class="text-dark font-monospace lh-lg">This platform's users can upload the processed data they collected before. The user either uploads the processed dataset file or provides a link to the dataset if stored externally. The system securely keeps data sets in the platform's database. Datasets will be made available for further analysis, sharing and access by authorized users on the platform.</p>
                        <a class="btn btn-warning rounded-pill fw-bold btn-custom-service my-3 mx-1" href="#">
                            <i class="fa-solid fa-table fa-beat fa-sm"></i> Dataset Submission
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container my-5 pt-5 ">
        <div class="row col-md-7 mx-auto text-center" data-aos="zoom-out">
            <h1 class="mx-auto fw-bold" style="font-size: 3rem;">What’s Coming Next!</h1>
            <p class="mx-auto mt-3 mb-5">The collaborative platform will continue to evolve and meet the changing needs of researchers and faculty, making it a valuable and innovative tool for collaborative research, data collection, and knowledge sharing.</p>
        </div>
        <div class="row">
            <div class="card data-color-bg mb-3 mx-3" style="max-width: 25rem;" data-aos="slide-up">
                <div class=""><img src="~/im/Design team-bro.png" class="img-fluid" alt="Sample image"></div>
                <div class="card-body">
                    <h5 class="card-title">Advanced Collaboration Capabilities</h5>
                    <p class="card-text text-secondary lh-lg">The platform can be further developed to include advanced collaboration capabilities such as real-time messaging, discussion forums, and project management tools. These additions will facilitate seamless and efficient collaboration between researchers, faculty and other users.</p>
                </div>
            </div>
            <div class="card network-color-bg mb-3 mx-3" style="max-width: 25rem;" data-aos="fade-up">
                <div class=""><img src="~/im/Data report-bro.png" class="img-fluid" alt="Sample image"></div>
                <div class="card-body ">
                    <h5 class="card-title text-white">Integrating Data Analytics Tools</h5>
                    <p class="card-text lh-lg">The platform can be developed as provide users with built-in capabilities to analyze and visualize collected data. This integration allows researchers to perform data analysis tasks in the same environment, saving time and effort when exporting and importing data.</p>
                </div>
            </div>
            <div class="card dataset-color-bg mb-3 mx-3" style="max-width: 25rem;" data-aos="slide-up">
                <div class=""><img src="~/im/App data-rafiki.png" class="img-fluid" alt="Sample image"></div>
                <div class="card-body ">
                    <h5 class="card-title">Mobile Application Development</h5>
                    <p class="card-text text-secondary lh-lg">Expanding access to the platform through mobile application development allows users to access and interact with the platform on smartphones and tablets. This increases user convenience and flexibility in response to the growing trend of mobile phone usage.</p>
                </div>
            </div>

        </div>

    </div>

</div>

@section Scripts {
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 2000,
            once: true,
        });
    </script>
}